<h1>List of photos</h1>

<form action="insert_user_record">
  <label for="add_user">Image</label>
  <input type="text" id="add_user" name="input_username" placeholder="Enter a username">

  <label for="add_user">Image</label>
  <input type="text" id="add_user" name="input_username" placeholder="Enter a username">

  <label for="add_user">Image</label>
  <input type="text" id="add_user" name="input_username" placeholder="Enter a username">
  
  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
    <tr>
      <td><img src="<%= a_photo.image %>""></td>
      <td><%= a_photo.caption %></td>
      <td><%= a_photo.poster.username %></td>
      <td><%= a_photo.created_at %></td>
      <td><a href="/photos/<%= a_photo.id %>">Show details</a></td>
    </tr>

  <% end %>


</table>